{% extends 'base.html' %}

{% block content %}
    <form method="POST" action="{{ url_for('handle_search') }}">
      <div>
          <input type="text" class="form-control" name="query" id="query" placeholder="Enter your search query" value="{{ query }}" autofocus>
      </div>
    </form>
    {% if results %}
        <div style='word-wrap: break-word;'>
            <pre>
                    {{ results }}
            </pre>
        </div>
    {% elif request.method == 'POST' %}
        <p>No results found.</p>
    {% endif %}
{% endblock %}
